spring:
  application:
    name: webshop
  profiles:
    active: common
server:
  port: 8080
management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: prometheus
logging:
  level:
    io.zipkin.reporter2: DEBUG
    brave: DEBUG
    io.micrometer.tracing: DEBUG
  pattern:
    correlation: "[${spring.application.name:},%X{traceId:-},%X{spanId:-}] "
  include-application-name: false