management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
logging:
  level:
    io.zipkin.reporter2: DEBUG
    brave: DEBUG
    io.micrometer.tracing: DEBUG